<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#if article}} {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="articleTitle">
                    {{this.title}}
                </h4>
            </div>
            <div class="panel-body">
                <p>
                    {{this.summary}}
                </p>
                <a href={{this.link}} target="_blank">
                    {{this.link}}
                </a>
                <br>
                <br>

                <!--Modal button -->
                <button type="button" class="btn btn-dark addComments" data-toggle="modal" data-target="#commentsModal{{this._id}}" data-id={{this._id}}>Add a Comment</button>




                <!--DELETE BUTTON -->
                <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>

            </div>
        </div>
        {{/each}} {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have 0 saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>

{{#each article}} {{> comments-modal }} {{/each}}